body {
  background: #1f1f1f;
  color: white;
  font-family: Arial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
}

.botao {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: #ff5555;
  color: white;

  transition: 0.3s;
}

.botao:hover {
  transform: scale(1.05);
}

.imagem {
  width: 400;
  display: block;
  margin: auto;
}

/* Estilos do home */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}
.home-content {
  flex: 1;
}
.home-footer {
  display: flex;
  justify-content: left; /* Centraliza a imagem horizontalmente */
  padding: 20px 0;
  margin-top: auto; /* Garante que ele vá para o final do container */
}
